* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #212529;
  height: 100vh;
  text-align: center;
  font-family: 'Press Start 2P';
}



/* HEADER */
header {
  background-color: black;
  margin: 0 auto;
  padding-top: 10px;
  color: white;
  font-size: 35px;
  font-family: 'Cutive';
  /* width: 80vw; */
  /* padding: 0 3rem 5rem 3rem; */
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif; */
}

h1 {
  animation: type 1.7s steps(16);
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid black;
  margin: 0 auto;
  /* border-right: hidden; */
}

@keyframes type {
  0% {
    width: 0ch;
  }

  100% {
    width: 8ch;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 300 1em 'Fira Sans',
  sans-serif;
}

.button-container {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

button {
  /* border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  font-size: 20px; */
  border-radius: 4px;
  background: none;
  border: 2px solid;
  font: inherit;
  color: whitesmoke;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

button:hover {
  cursor: pointer;
}


#easy:hover,
#easy:focus {
  background-color: rgba(155, 241, 25, 0.5);
}

#medium:hover,
#medium:focus {
  background-color: rgba(255, 182, 45, 0.5);
}

#hard:hover,
#hard:focus {
  background-color: rgba(236, 63, 63, 0.5);
}

#dafuq:hover,
#dafuq:focus {
  background-color: rgb(255, 0, 0);
}

.offset {
  box-shadow:
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);
}


#test-canvas {
  background-color: grey;
  border: 1rem ridge rgb(106, 100, 114);
  /* background-color: rgb(49, 45, 45); */
}

/* FOOTER */
#display {
  background-color: black;
  padding: 70px;
}

#word-input {
  /* background-color: rgba(194, 192, 223, 0.911); */
  background-color: rgb(70, 69, 69);
  border-radius: 5px;
  padding: 10px;
  width: 260px;
  font-size: 35px;
  text-align: center;
  color: rgb(190, 151, 177);
  /* color: rgb(110, 80, 100); */
}

/* SHHHH */

/* .dark-mode {
  background-color: black;
  color: white;
} */